@charset "UTF-8";
@import url(reset.css);
@import url(login.css);
@import url(join.css);
@import url(header.css);
@import url(expert-detail.css);
@import url(experience.css);
@import url(expert-voucher.css);
@import url(user-mypage.css);
@import url(expert-mypage.css);
@import url(community-activity.css);

body {
    margin: 0 auto;
    font-family: Arial, sans-serif;
    background-color: #e7e7e7;
    padding: 0;
}
